p{
    background-color: rgb(243, 165, 165);
    font-family: "Veranda","Dejavu sans",sans-serif>
}
#Number2{
    color: blue;
    font-size: 36px;
}
.Number1.Num{
    font-size: 36px;
}
#Number4{
    background-color: rgb(134, 218, 134);
    font-weight: 700;
    font-size: 24px;
}